services:
  homepage:
      image: ghcr.io/gethomepage/homepage:{{ homepage_version }}
      container_name: homepage
      environment:
        - PUID={{ docker_user_puid }}
        - PGID={{ docker_user_pgid }}
      ports:
        - 3000:3000
      volumes:
        - {{ homepage_folder }}/config:/app/config
        - /var/run/docker.sock:/var/run/docker.sock:ro
      restart: unless-stopped
  watchtower:
    image: containrrr/watchtower
    container_name: watchtower
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    command: homepage