services:
  homepage:
      image: ghcr.io/gethomepage/homepage:{{ homepage_version }}
      container_name: homepage
      environment:
        - PUID={{ docker_user_puid }}
        - PGID={{ docker_user_pgid }}
        - HOMEPAGE_ALLOWED_HOSTS=homepage.{{ internal_domain }}
      ports:
        - 3000:3000
      volumes:
        - {{ homepage_folder }}/config:/app/config
        - /var/run/docker.sock:/var/run/docker.sock:ro
      restart: unless-stopped