---
# For configuration options and examples, please see:
# https://gethomepage.dev/latest/configs/services

- Media:

- Smart Home:
    - Home Assistant:
        href: {{ internal_homeassistant_url }}
        icon: home-assistant.png
        widget:
          type: homeassistant
          url: {{ internal_homeassistant_url }}
          key: {{ homepage_homeassistant_key }}
          custom:
            - state: sensor.total_pv_power
              label: Solar generation
            - state: sensor.lounge_temperature
              label: Lounge temperature
    - EssVeeOhAte:
        href: {{ internal_sovol_url }}
        icon: mdi:printer-3d-nozzle
        widget:
          type: moonraker
          url: {{ internal_sovol_url }}

- Infra:
    - pfSense:
        href: {{ internal_pfsense_url }}
        description: The router
        icon: pfsense.png
    - Omada Controller:
        href: {{ internal_omada_url }}
        description: TP-Link Omada
        icon: omada.png
    - Proxmox 1:
        href: https://proxmox-1.{{ internal_domain }}:8006
        description: Proxmox VE Host 1
        icon: proxmox.png
    - Proxmox 2:
        href: https://proxmox-2.{{ internal_domain }}:8006
        description: Proxmox VE Host 2
        icon: proxmox.png
    - Proxmox Backup Server:
        href: https://pbs.{{ internal_domain }}:8007
        description: Proxmox Backup Server
        icon: proxmox-backup.png