  - Overseerr:
      href: {{ internal_overseerr_url }}
      description: Media request management
      icon: overseerr.png
      widget:
        type: overseerr
        url: {{ internal_overseerr_url }}
        key: {{ homepage_overseerr_key }}
