DISCORD_BOT_TOKEN={{ hermes_virtuajimmy_discord_token }}
DISCORD_ALLOWED_USER_ID={{ hermes_virtuajimmy_discord_user_id }}
DISCORD_HOME_CHANNEL={{ hermes_virtuajimmy_discord_control_channel_id }}
DISCORD_HOME_CHANNEL_NAME=#homelab-control
TERMINAL_SSH_HOST={{ hermes_virtuajimmy_ssh_host }}
TERMINAL_SSH_USER={{ hermes_virtuajimmy_ssh_user }}
TERMINAL_SSH_KEY={{ hermes_virtuajimmy_ssh_private_key_file }}
FIRECRAWL_API_URL={{ internal_firecrawl_url }}
{% if hermes_virtuajimmy_context7_api_key | length > 0 %}
CONTEXT7_API_KEY={{ hermes_virtuajimmy_context7_api_key }}
{% endif %}