  - Plex:
      href: https://plex.{{ internal_domain }}
      description: Plex Media Server
      icon: plex.png
  - Tautulli:
      href: https://tautulli.{{ internal_domain }}
      description: Plex monitoring and statistics
      icon: tautulli.png
      widget:
        type: tautulli
        url: https://tautulli.{{ internal_domain }}
        key: {{ homepage_tautulli_key }}
        enableUser: true
        showEpisodeNumber: true
        expandOneStreamToTwoRows: false
