services:
  swag_external:
    container_name: swag_external
    image: linuxserver/swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID={{ docker_user_puid }}
      - PGID={{ docker_user_pgid }}
      - TZ={{ timezone }}
      - URL={{ external_domain }}
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - DNSPLUGIN=cloudflare
      - ONLY_SUBDOMAINS=true
    ports:
      - {{ proxy_swag_external_https_port }}:443
      - {{ proxy_swag_external_http_port }}:80
    volumes:
      - {{ proxy_folder }}/external:/config
    restart: unless-stopped

  swag_internal:
    container_name: swag_internal
    image: linuxserver/swag
    cap_add:
      - NET_ADMIN
    environment:
      - PUID={{ docker_user_puid }}
      - PGID={{ docker_user_pgid }}
      - TZ={{ timezone }}
      - URL={{ internal_domain }}
      - SUBDOMAINS=wildcard
      - VALIDATION=dns
      - DNSPLUGIN=cloudflare
    ports:
      - {{ proxy_swag_internal_https_port }}:443
      - {{ proxy_swag_internal_http_port }}:80
    volumes:
      - {{ proxy_folder }}/internal:/config
    restart: unless-stopped
