  - Jellyfin:
      icon: jellyfin.png
      href: {{ internal_jellyfin_url }}
      description: Media Server
      widget:
        type: jellyfin
        url: {{ internal_jellyfin_url }}
        key: {{ homepage_jellyfin_key }}
        enableBlocks: true
        enableNowPlaying: false
