    - Maintainerr:
        icon: maintainerr.png
        href: {{ internal_maintainerr_url }}
        description: Media maintenance and cleanup automation
        widget:
          type: maintainerr
          url: {{ internal_maintainerr_url }}
          key: {{ homepage_maintainerr_key }}
