services:
  grafana:
    image: grafana/grafana-oss:{{ grafana_version }}
    container_name: grafana
    restart: unless-stopped
    user: "{{ docker_user_puid }}"
    environment:
     - GF_SERVER_ROOT_URL={{ internal_grafana_url }}
     - GF_INSTALL_PLUGINS={{ grafana_plugins }}
    ports:
     - '{{ grafana_port }}:3000'
    volumes:
     - {{ grafana_parent_folder }}:/var/lib/grafana
     - {{ grafana_parent_folder }}/provisioning:/etc/grafana/provisioning
    networks:
      - grafana_net
    depends_on:
      - loki
      - prometheus

  loki:
    image: grafana/loki:{{ grafana_loki_version }}
    container_name: loki
    restart: unless-stopped
    user: "{{ docker_user_puid }}:{{ docker_user_pgid }}"
    command: -config.file=/etc/loki/local-config.yaml
    ports:
    - '{{ grafana_loki_port }}:3100'
    volumes:
      - {{ loki_data_folder }}:/loki
    networks:
      - grafana_net

  prometheus:
    image: prom/prometheus:{{ grafana_prometheus_version }}
    container_name: prometheus
    restart: unless-stopped
    user: "{{ docker_user_puid }}:{{ docker_user_pgid }}"
    ports:
      - '{{ grafana_prometheus_port }}:9090'
    volumes:
      - {{ prometheus_data_folder }}:/prometheus
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    networks:
      - grafana_net

networks:
  grafana_net:
    driver: bridge
