global:
  scrape_interval: 15s

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']
  - job_name: 'loki'
    static_configs:
      - targets: ['loki:3100']
  - job_name: 'cadvisor'
    static_configs:
{% for host in groups.get('docker_vm_hosts', []) %}
{% if host == inventory_hostname %}
      - targets:
        - {{ ansible_default_ipv4.address }}:8089
        labels:
          instance: {{ host }}.{{ internal_domain }}:8089
{% else %}
      - targets:
        - {{ host }}.{{ internal_domain }}:8089
{% endif %}
{% endfor %}
  - job_name: 'snmp_qnap'
    scrape_interval: 2m
    scrape_timeout: 2m
    static_configs:
{% for snmp_target in grafana_snmp_targets %}
      - targets:
        - {{ snmp_target.target }}
        labels:
          instance: {{ snmp_target.name }}
{% endfor %}
    metrics_path: /snmp
    params:
      auth: [qnap_v3]
      module: [qnap]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116
  - job_name: 'snmp_qnap_long'
    scrape_interval: 5m
    scrape_timeout: 2m
    static_configs:
{% for snmp_target in grafana_snmp_targets %}
      - targets:
        - {{ snmp_target.target }}
        labels:
          instance: {{ snmp_target.name }}
{% endfor %}
    metrics_path: /snmp
    params:
      auth: [qnap_v3]
      module: [qnaplong]
    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: snmp-exporter:9116
