apiVersion: 1

contactPoints:
  - orgId: 1
    name: n8n-webhook
    receivers:
      - uid: n8n-webhook-receiver
        type: webhook
        disableResolveMessage: false
        settings:
          url: "{{ internal_n8n_url }}/webhook/{{ grafana_alert_webhook_path }}"
          httpMethod: POST
          authorization_scheme: Bearer
          authorization_credentials: "{{ grafana_webhook_secret }}"
