- ARR:
    - Sonarr:
        href: {{ internal_sonarr_url }}
        description: Sonarr (TV Shows)
        icon: sonarr.png
    - Radarr:
        href: {{ internal_radarr_url }}
        description: Radarr (Movies)
        icon: radarr.png
    - Prowlarr:
        href: {{ internal_prowlarr_url }}
        description: Prowlarr (Indexers)
        icon: prowlarr.png
    - Lidarr:
        href: {{ internal_lidarr_url }}
        description: Lidarr (Music)
        icon: lidarr.png
