services:
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:{{ jellyfin_version }}
    container_name: jellyfin
    environment:
      - TZ={{ timezone }}
      - JELLYFIN_PublishedServerUrl={{ internal_jellyfin_url }} #optional
      - PUID={{ docker_user_puid }}
      - PGID={{ docker_user_pgid }}
    volumes:
      - {{ jellyfin_folder }}/config:/config
      - mytv:/data/tvshows
      - mymovies:/data/movies
    ports:
      - {{ jellyfin_port }}:8096
      - {{ jellyfin_https_port }}:8920 #optional
      - {{ jellyfin_udp_port1 }}:7359/udp #optional
      - {{ jellyfin_udp_port2 }}:1900/udp #optional
    devices:
      - /dev/dri:/dev/dri
    restart: unless-stopped
  jellyseerr:
    image: fallenbagel/jellyseerr:{{ jellyfin_jellyseerr_version }}
    container_name: jellyseerr
    environment:
      - LOG_LEVEL=info
      - TZ={{ timezone }}
      - PUID={{ docker_user_puid }}
      - PGID={{ docker_user_pgid }}
    ports:
      - {{ jellyfin_jellyseerr_port }}:5055
    volumes:
      - {{ jellyfin_jellyseerr_folder }}:/app/config
    restart: unless-stopped

volumes:
  mytv:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ jellyfin_fileserver_ip}},nolock,soft,rw"
      device: ":{{ fs_media_tv }}"
  mymovies:
    driver: local
    driver_opts:
      type: nfs
      o: "addr={{ jellyfin_fileserver_ip}},nolock,soft,rw"
      device: ":{{ fs_media_movies }}"