services:
  mcp-tracearr:
    build:
      context: "{{ mcp_tracearr_folder }}/build"
      dockerfile: Dockerfile
    image: mcp-tracearr:{{ mcp_tracearr_version }}
    container_name: mcp-tracearr
    restart: unless-stopped
    environment:
      - TRACEARR_API_KEY={{ homepage_tracearr_key }}
      - TRACEARR_BASE_URL={{ mcp_tracearr_api_base_url }}
    network_mode: host
