# Jump box/Ansible hosts.
mgmt_hosts:
  hosts:
    mgmt:

# QNAP NAS
qnap:
  vars:
    ansible_user: "{{ qnap_ansible_user }}"
    ansible_ssh_private_key_file: ~/.ssh/ansible
    ansible_python_interpreter: /opt/python3/bin/python3 # Python3 installed via the App Center
  hosts:
    fileserver:

# Router
pfsense:
  hosts:
    router:

# pfSense host for API operations
pfsense_host:
  hosts:
    router:

# TP-Link Omada Controller
omada_controller:
  hosts:
    tp-oc200:

# All Ububtu hosts
ubuntu:
  vars:
    ansible_python_interpreter: /usr/bin/python3.10
  hosts:
    mgmt:
    docker-1:
    docker-2:
    jellyfin-lxc:
    proxy:

# All Debian hosts
#debian:
#  vars:
#    ansible_python_interpreter: /usr/bin/python3.11
#  hosts:
#    debian-downloader:

# Plex Media Server
plex_host:
  hosts:
    jellyfin-lxc:

# Overseerr
overseerr_host:
  hosts:
    proxy:

# Jellyseerr
jellyseerr_host:
  hosts:
    proxy:

# Jellyfin Media Server
jellyfin_host:
  hosts:
    jellyfin-lxc:

# NGINX Reverse Proxy
proxy_host:
  hosts:
    proxy:

# Homepage
homepage_host:
  hosts:
    docker-2:

homeassistant_host:
  hosts:
    homeassistant-new:

proxmox_hosts:
  hosts:
    proxmox-1:
    proxmox-2:

lidarr_host:
  hosts:
    docker-1:

sonarr_host:
  hosts:
    docker-1:

radarr_host:
  hosts:
    docker-1:

prowlarr_host:
  hosts:
    docker-1:

sabnzbd_host:
  hosts:
    docker-1:

qbittorrent_host:
  hosts:
    docker-1:
    
# Grafana
grafana_host:
  hosts:
    docker-1:

# Paperless
paperless_host:
  hosts:
    docker-2:

# n8n
n8n_host:
  hosts:
    docker-2:

# Klipper 3d printer
sovol_sv08:
  hosts:
    192.168.200.32:
