services:
  wg-easy:
    image: ghcr.io/wg-easy/wg-easy:{{ wg_easy_version }}
    container_name: wg-easy
    restart: unless-stopped
    environment:
      - PORT={{ wg_easy_web_port }}
      - HOST=0.0.0.0
      - INSECURE=true
    volumes:
      - {{ wg_easy_folder }}/etc_wireguard:/etc/wireguard
      - /lib/modules:/lib/modules:ro
    ports:
      - "{{ wg_easy_vpn_port }}:51820/udp"
      - "{{ wg_easy_web_port }}:{{ wg_easy_web_port }}/tcp"
    cap_add:
      - NET_ADMIN
      - SYS_MODULE
    devices:
      - /dev/net/tun:/dev/net/tun
    sysctls:
      - net.ipv4.ip_forward=1
      - net.ipv4.conf.all.src_valid_mark=1
      - net.ipv6.conf.all.disable_ipv6=0
      - net.ipv6.conf.all.forwarding=1
      - net.ipv6.conf.default.forwarding=1
    networks:
      wg:
        ipv4_address: 10.42.42.42
        ipv6_address: fdcc:ad94:bacf:61a3::2a

networks:
  wg:
    driver: bridge
    enable_ipv6: true
    ipam:
      driver: default
      config:
        - subnet: 10.42.42.0/24
        - subnet: fdcc:ad94:bacf:61a3::/64
