  - Tracearr:
      icon: tracearr.png
      href: {{ internal_tracearr_url }}
      description: Media server monitoring
      widget:
        type: tracearr
        url: {{ internal_tracearr_url }}
        key: {{ homepage_tracearr_key }}
