  - Jellyseerr:
      icon: jellyseerr.png
      href: {{ internal_jellyseerr_url }}
      description: Media request management
      widget:
        type: jellyseerr
        url: {{ internal_jellyseerr_url }}
        key: {{ homepage_jellyseerr_key }}
