---
- name: Copy Cloudflare token config to SWAG Internal
  ansible.builtin.template:
    src: "templates/cloudflare.ini.j2"
    dest: "{{ proxy_folder }}/internal/dns-conf/cloudflare.ini"
    mode: '0644'
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
  notify:
    - Start Swag

- name: Deploy Proxy config
  ansible.builtin.template:
    src: "templates/internal/proxy-internal.conf.j2"
    dest: "{{ proxy_folder }}/internal/nginx/proxy.conf"
    mode: '0644'
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
    force: true
  notify:
    - Start Swag

- name: Deploy Frigate config
  ansible.builtin.template:
    src: "templates/internal/frigate.subdomain.conf.j2"
    dest: "{{ proxy_folder }}/internal/nginx/proxy-confs/frigate.subdomain.conf"
    mode: '0644'
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
  notify:
    - Start Swag

# - name: Deploy GHES config
#   ansible.builtin.template:
#     src: "templates/internal/ghes.subdomain.conf.j2"
#     dest: "{{ proxy_folder }}/internal/nginx/proxy-confs/ghes.subdomain.conf"
#     mode: '0644'
#     owner: "{{ docker_user }}"
#     group: "{{ docker_user }}"
#   notify:
#     - Start Swag

- name: Deploy Home Assistant config
  ansible.builtin.template:
    src: "templates/internal/homeassistant.subdomain.conf.j2"
    dest: "{{ proxy_folder }}/internal/nginx/proxy-confs/homeassistant.subdomain.conf"
    mode: '0644'
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
  notify:
    - Start Swag

# Homepage config is now managed by the homepage role
# Jellyfin and Jellyseerr configs are now managed by the jellyfin role
# Overseerr and Tautulli configs are now managed by the plex role

- name: Deploy pfSense config
  ansible.builtin.template:
    src: "templates/internal/pfsense.subdomain.conf.j2"
    dest: "{{ proxy_folder }}/internal/nginx/proxy-confs/pfsense.subdomain.conf"
    mode: '0644'
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
  notify:
    - Start Swag

- name: Deploy Proxmox config
  ansible.builtin.template:
    src: "templates/internal/proxmox.subdomain.conf.j2"
    dest: "{{ proxy_folder }}/internal/nginx/proxy-confs/proxmox.subdomain.conf"
    mode: '0644'
    owner: "{{ docker_user }}"
    group: "{{ docker_user }}"
  notify:
    - Start Swag
